.title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}


.rule{
    margin-top: 210px;
    margin-left: 650px;
    width: 500px;
    background-color:blanchedalmond;
    text-align: center;
    font-size: 18px;
}